<h2 class="label-text">{{label}}</h2>
{{input key-press="valueDidChange" 
        placeholder=placeholder 
        value=value 
        type="email" 
        name="EMAIL"
        classNames="input-text"
}}
<div class="chimp-says">{{chimpSays}}</div>
<button type="submit" class="button">{{if isLoading loadingText buttonText}}</button>