<strong>
  {{#if isRecorded}}
    Available for 14 days from purchase
  {{else}}
    {{moment-format model.date 'MMM Do YYYY'}}
    <small>{{moment-format model.date 'ha z' timeZone='America/Los_Angeles'}}</small>
  {{/if}}
</strong>

<a href={{model.link}} class="button" target="_blank">Purchase</a>
