@import 'foundation/all';
@import 'modules/home';
@import 'modules/header';
@import 'modules/footer';

body {
  @include body-copy();
}

.app-contact {
  margin-top: unit-space(2);
  .contact {
    .subscribe-form {
      h2 {
        color: $main-color;
      }
      .input-text {
        border-color: $main-color;
        margin: unit-space(1) 0;
        width: 100%;
      }
      .button {
        color: $main-color;
        border-color: $main-color;
        font-size: $body-size;
      }
    }
    .email-us {
      a {
        color: $main-color;
        font-weight: bold;
        text-decoration: none;
        border-bottom: 1px solid $main-color;
        display: inline-block;
        margin-top: unit-space(1);
      }
    }
    @include mobileOnly() {
      text-align: center;
      padding-top: unit-space(2);
    }

  }
}

