section.about {
  background: #F2F2F2 linear-gradient(90deg, #fff, #F2F2F2);
  padding: unit-space(2) 0;

  @include desktop() {
    padding: unit-space(5) 0;
  }

  h2 {
    color: $main-color;
  }

  aside {
    p {
      color: saturate($main-color, 20);
      font-style: italic;
    }
    footer {
      color: darken($main-color, 20);
      font-size: 18px;
    }
    strong {
      font-weight: bold;
    }
    @include tablet() {
      padding: unit-space(3) unit-space(2);
      padding: unit-space(2);
    }
  }
}

.content-box {
  padding: unit-space(1);
  border: 3px solid $main-color;
  @include tablet() {
    padding: unit-space(2);
  }
}

.extra-box {
  padding: unit-space(1);
  @include tablet() {
    padding: unit-space(2);
  }
}

section.youll-learn {
  background: desaturate($main-color, 15);
  padding: 50px 0;
  text-align: center;
  h2 {
    color: #fff;
    margin-bottom: 50px;
    border-bottom: 2px solid #fff;
    padding: 5px;
    display: inline-block;
  }

  ul {
    li {
      color: #fff;
      margin-bottom: 20px;
      text-align: left;
    }
  }
  strong {
    font-weight: bold;
  }

  @include tablet() {
    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      li {
        width: 300px;
      }
    }
  }
}

section.instructor {
  padding: unit-space(2) 0;
  color: $contrast-color;
  background: $alt-color;

  @include mobileOnly() {
    background: linear-gradient(0deg, $alt-color 70%, rgba($alt-color, 0) 80%), url(images/ben.jpg) no-repeat center top;
    background-size: contain;
    padding-top: 50%;
  }

  @include tablet() {
    background: linear-gradient(90deg, $alt-color 50%, rgba($alt-color, 0) 60%), url(images/ben.jpg) no-repeat right center;
  }

  @include desktop() {
    background: linear-gradient(90deg, $alt-color 60%, rgba($alt-color, 0) 70%), url(images/ben.jpg) no-repeat right center;
    padding: unit-space(5) 0;
    background-size: contain;
  }

  .main-col {
    padding: unit-space(1);
    @include tablet() {
      padding: unit-space(2);
    }
  }

  h2 {
    color: $main-color;
  }

  h3 {
    color: #fff;
    font-size: 32px;
    margin-top: 20px;
  }
}

section.workshops {
  @extend section.about;
  text-align: center;
  h1 {
    @extend h2;
    padding: unit-space(1) unit-space(2);
    border-bottom: 2px solid $main-color;
    padding: 5px;
    display: inline-block;
    @include desktop() {
      margin: unit-space(1) unit-space(3);
    }
  }
  small {
    font-size: 80%;
  }
  .workshops-list {
    justify-content: space-between;
    flex-wrap: wrap;
    padding: unit-space(1) 0;
  }
  .workshop {
    border: 3px solid $main-color;
    text-align: center;
    margin: unit-space(1) 0;
    min-width: 200px;
    h4 {
      background: $main-color;
      color: #fff;
      padding: unit-space(0.5) unit-space(1);
      text-transform: uppercase;
    }
    dl {
      padding: unit-space(1);
      dt {
        display: none;
      }
      dd {
        padding: unit-space(1) 0 0 0;
      }
    }
    .button {
      color: $main-color;
      border-color: $main-color;
      margin: unit-space(1);
    }
    &.silicon-valley {
      border-color: $alt-color;
      h4 {
        background: $alt-color;
      }
    }
  }
  @include tablet() {
    .workshops-list {
      justify-content: center;
    }
    .workshop {
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
  }
  @include desktop() {
    .workshop {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
  .private-workshop {
    text-align: center;
    p {
      display: inline-block;
      padding: 20px 5px;
      border-top: 2px solid #ccc;
      border-bottom: 2px solid #ccc;
    }
    strong {
      font-weight: bold;
    }
    a {
      color: $main-color;
      text-decoration: none;
      border-bottom: 1px solid $main-color;
      font-weight: bold;
    }
  }
}

section.extra-info {
  @extend .about;
  padding-top: 0;

  $extra-alt:  saturate($alt-color, 20);
  h2 {
    color: $extra-alt;
  }
  .content-box {
    border-color: $extra-alt;
  }
  .extra-box {
    h2 {
      color: $extra-alt;
    }
  }

  a {
    color: $alt-color;
    text-decoration: none;
    border-bottom: 1px solid $alt-color;
  }
}
