section.about {
  padding-top: unit-space(2);

  h2 {
    color: $dark-alt-color;
  }

  .content-box {
    border-color: lighten($alt-color, 20);
  }

  aside {
    p {
      color: darken($alt-color, 20);
    }
    footer {
      color: desaturate($main-color, 20);
      font-size: 18px;
    }
    strong {
      font-weight: bold;
    }
  }
}

section.trailer-section {
  text-align: center;
  margin-top: unit-space(2);
  h2 {
    color: $text-color;
    margin-bottom: 50px;
    border-bottom: 2px solid $text-color;
    padding: 5px;
    display: inline-block;
  }
}

.content-box {
  padding: unit-space(1);
  border: 3px solid $main-color;
  @include tablet() {
    padding: unit-space(2);
  }
}

.extra-box {
  padding: unit-space(1);
  @include tablet() {
    padding: unit-space(2);
  }
}

section.youll-learn {
  background: $main-color;
  padding: 50px 0;
  text-align: center;
  h2 {
    color: #fff;
    margin-bottom: 50px;
    border-bottom: 2px solid #fff;
    padding: 5px;
    display: inline-block;
  }

  ul {
    li {
      color: #fff;
      margin-bottom: 20px;
      text-align: left;
    }
  }
  strong {
    font-weight: bold;
  }

  @include tablet() {
    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      li {
        width: 300px;
      }
    }
  }
}

section.instructor {
  padding: unit-space(2) 0;
  margin: unit-space(2) 0;
  background: lighten($alt-color, 30);

  h2 {
    color: $alt-color;
  }

  h3 {
    color: $dark-alt-color;
    font-size: 32px;
    text-transform: none;
    margin: unit-space(0.5) 0 unit-space(1) 0;
    padding: unit-space(0.5) 0;
    display: inline-block;
    border-bottom: 2px solid $action-color;
    a {
      color: $dark-alt-color;
      text-decoration: none;
    }
  }
  .avatar {
    img {
      border-radius: 400px;
      max-width: 300px;
    }
  }
  .instructor-name {
    text-align: center;
  }
}

section.workshops {
  // @extend section.about;
  padding: unit-space(1) 0 unit-space(1) 0;
  text-align: center;
  h1 {
    text-align: center;
    display: inline;
    color:$action-color;;
    border-bottom: 2px solid $alt-color;
    padding-bottom: 2px;
    font-weight: bold;
  }
  small {
    font-size: 80%;
  }
  .workshops-list {
    justify-content: space-between;
    flex-wrap: wrap;
    padding: unit-space(1) 0;
  }
  .workshop {
    border: 3px solid $main-color;
    text-align: center;
    margin: unit-space(1) 0;
    min-width: 200px;
    h4 {
      background: $main-color;
      color: #fff;
      padding: unit-space(0.5) unit-space(1);
      text-transform: uppercase;
    }
    dl {
      padding: unit-space(1);
      dt {
        display: none;
      }
      dd {
        padding: unit-space(1) 0 0 0;
      }
    }
    .button {
      color: $main-color;
      border-color: $main-color;
      margin: unit-space(1);
    }
    &.silicon-valley {
      border-color: $alt-color;
      h4 {
        background: $alt-color;
      }
    }
  }
  @include tablet() {
    .workshops-list {
      justify-content: center;
    }
    .workshop {
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
  }
  @include desktop() {
    .workshop {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
  .private-workshop {
    text-align: center;
    p {
      display: inline-block;
      padding: 20px 5px;
      border-top: 2px solid #ccc;
      border-bottom: 2px solid #ccc;
    }
    strong {
      font-weight: bold;
    }
    a {
      color: $main-color;
      text-decoration: none;
      border-bottom: 1px solid $main-color;
      font-weight: bold;
    }
  }
}

section.extra-info {
  h2 {
    color: $dark-alt-color;
  }
  .content-box {
    border-color: lighten($alt-color, 20);
  }
  .extra-box {
    h2 {
      color: $dark-alt-color;
    }
  }

  a {
    color: $alt-color;
    text-decoration: none;
    border-bottom: 1px solid $alt-color;
  }
  img {
    max-width: 100%;
  }
}

section.companies {
  margin-top: unit-space(2);
  h2 {
    text-align: center;
    color: $alt-color;
    margin-bottom: unit-space(2);
  }
  .company-featured {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: #fff;
    li {
      display: block;
      &:before {
        content: '';
        display: block;
        width: 200px;
        height: 80px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      $companies: 'aa' 'ae' 'rh' 'bm' 'cg' 'ic' 'gr' 'do' 'cr' 'ms' 'pe' 'ro' 'in' 'un';

      @each $company in $companies {
        &.#{$company}:before {
          background-image: url(images/logos/#{$company}.png);
        }
      }
    }
  }
  .company-text {
    text-align: center;
    li {
      display: inline-block;
      margin: 5px;
      color: lighten($text-color, 20);
      &:nth-child(even) {
        color: lighten($text-color, 5);
      }
    }
  }
}
