<header class="app-header">
  <div class="wrap">
    <ul>
      <li><h1 class="logo"><strong>Rx</strong> Workshop</h1></li>
      <li>Instructor: <br><em>Ben Lesh</em></li>
      <li><em>Online</em> <br>Sillicon Valley</li>
      <li><a href="#" class="button">Register</a></li>
    </ul>
  </div>
</header>

<section class="about">
  <div class="wrap row">
    <div class="content-box main-col">
      <h2>Managing Async With RxJS 5: Course Overview</h2>
      <p>This is a 3 part course complete with pre-course videos, an interactive workshop day, and post workshop support.</p>
      <p>Learn about RxJS 5 and Observables in-depth, and using RxJS to manage common and complex async scenarios within an application.</p>
      <p>
        Thinking in functional reactive programming can be difficult, but we will give you some fundamentals to go about composing streams.
      </p>
      <p>
        At the end of this course you'll have built an application that uses both HTTP and WebSockets to create a realtime streaming application.
      </p>
    </div>

    <aside class="quotes aside-col">
      <blockquote>
        <p>
          No better way to learn than from the guy who actually writes RxJS itself, plus Ben have a really cool way to teach you complex stuff in a down to earth way.
        </p>
        <footer>
          &mdash; <strong>Shai Reznik</strong>, HiRez.io
        </footer>
      </blockquote>
      <blockquote>
        <p>
          RxJS is a critical component of Angular 2, and a must learn for anyone who wants to use Angular 2. Ben Lesh is definitely the guy I'd choose to teach me.
        </p>
        <footer>
          &mdash; <strong>Joe Eames</strong>, Software Craftsman, Pluralsight Author, and ng-conf Organizer.
        </footer>
      </blockquote>
    </aside>
  </div>
</section>

<section class="youll-learn">
  <div class="wrap">
    <h2>What You'll Learn</h2>
    <ul>
      <li>What an <strong>observable</strong> is and how to create one.</li>
      <li>What an <strong>operator</strong> is and you'll create a custom operator.</li>
      <li>How to think <strong>"reactively"</strong>, the fundamentals.</li>
      <li>How to use Rx to <strong>manage resources</strong> and <strong>application flow</strong>.</li>
      <li>How to <strong>debug</strong> your observable chains.</li>
      <li>How to write <strong>integration tests</strong> for Rx.</li>
      <li>How to use complex operators like catch and retry.</li>
      <li>When to ensure system stability.</li>
      <li></li>
    </ul>
  </div>
</section>

<section class="instructor">
  <div class="wrap row">
    <div class="main-col">
      <h2>Your instructor</h2>
      <h3>Ben Lesh</h3>
      <p>
        Ben Lesh is the lead author and development lead of RxJS 5, which is a rewrite of RxJS with goals of better performance and JavaScript future specification compliance.
      </p>
      <p>
        He is also the co-author of redux-observable and has contributed to various open source projects such as Angular.js and Redux.
      </p>
      <p>
        In addition to advising the Angular team on their Rx integration, Ben is also a Senior Software Engineer at Netflix on the UI platform team and Founder of RxWorkshop.
      </p>
    </div>
  </div>
</section>

<section class="workshops">
  <div class="wrap">
    <h1>Upcoming Workshops</h1>

    <div class="workshops-list row">
      <div class="workshop online">
        <h4>Online</h4>
        <dl>
          <dt>When:</dt>
          <dd>January 5th 2017</dd>
          <dt>Cost:</dt>
          <dd>$495</dd>
        </dl>
        <a href="https://www.eventbrite.com/e/online-managing-async-with-rxjs-5-tickets-29383184897" class="button" target="_blank">Purchase</a>
      </div>
      <div class="workshop sillicon-valley">
        <h4>Silicon Valley</h4>
        <dl>
          <dt>When:</dt>
          <dd>February 5th 2017</dd>
          <dt>Cost:</dt>
          <dd>$600</dd>
        </dl>
        <a href="https://www.eventbrite.com/e/silicon-valley-managing-async-with-rxjs-5-tickets-29383246080" class="button" target="_blank">Purchase</a>
      </div>
      <div class="workshop online">
        <h4>Online</h4>
        <dl>
          <dt>When:</dt>
          <dd>April 5th 2017</dd>
          <dt>Cost:</dt>
          <dd>$495</dd>
        </dl>
        <a href="https://www.eventbrite.com/e/online-managing-async-with-rxjs-5-tickets-29383184897" class="button" target="_blank">Purchase</a>
      </div>
      <div class="workshop sillicon-valley">
        <h4>Silicon Valley</h4>
        <dl>
          <dt>When:</dt>
          <dd>June 5th 2017</dd>
          <dt>Cost:</dt>
          <dd>$600</dd>
        </dl>
        <a href="https://www.eventbrite.com/e/silicon-valley-managing-async-with-rxjs-5-tickets-29383246080" class="button" target="_blank">Purchase</a>
      </div>
    </div>
    <div class="private-workshop">
      <p>
        <strong>Need a private workshop?</strong> Request one <a href="mailto:hi@rxworkshop.com">here</a>.
      </p>
    </div>
  </div>
</section>

<section class="extra-info">
  <div class="wrap row">
    <div class="content-box main-col">
      <h2>This course is perfect for:</h2>
      <p>
        We designed to teach participants to reactive patterns, practice stream composition and think reactively with RxJS. The patterns that you 
        learn apply to all reactive environments and can be used in JavaScript with React, Angular and Node.
      </p>
      <p>
        This course is for anyone who wants to gain profound understanding of reactive patterns and apply these patterns to solving complex challenges.
      </p>
    </div>
    <div class="extra-box aside-col">
      <h2>What videos are included?</h2>
      <p>
        This course includes 25 minutes of video content that introduces thinking reactively, breaks down the anatomy of an operator and describes must know operators.
        After the workshop, you will receive a recording of your workshop.
      </p>
    </div>
  </div>
  <div class="wrap row">
    <div class="extra-box main-col">
      <h2>What is post workshop support?</h2>
      <p>
        Students will be granted access to two weeks of an open slack channel for direct support and ongoing questions during the implementation process of RxJS in your applications.
      </p>
    </div>
    <div class="extra-box aside-col">
      <h2>What do you need?</h2>
      <p>
        Node 5.0+ and Angular CLI (<code>npm install -g angular-cli@latest</code>).
        Also download the  <a href="https://github.com/blesh/rxjs-workshop-angular" target="_blank">RxJS Workshop Angular repo</a> and have it set up
      </p>
    </div>
  </div>
</section>

<footer class="app-footer wrap">
  <div class="contact row">
    <form class="subscribe-form main-col">
      <h2>Subscribe and stay up to date on the latest RxJS news.</h2>
      <input type="text" name="name" value="" class="input-text">
      <button type="button" name="button" class="button">Go</button>
    </form>
    <aside class="aside-col email-us">
      Have questions? We're here for you. <br>
      <a mailto="hi@rxworkshop.com">hi@rxworkshop.com</a>
    </aside>
  </div>
  <div class="branding">
    <div class="logo-col row">
      <a href="https://www.thisdot.co" class="this-dot-logo">This Dot Media</a>
      <div class="brand-text">
        Growing the web platform through developer education, shared tooling and facilitating cross-community collaboration.<br>
        <a href="https://www.thisdot.co/media">Media</a> | <a href="https://www.thisdot.co/labs">Labs</a> | <a href="https://www.thisdot.co/contact">Contact</a>
      </div>
    </div>

  </div>
</footer>
