<header class="app-header">
  <div class="wrap">
    <ul>
      <li><h1 class="logo"><strong>Rx</strong> Workshop</h1></li>
      <li>Instructor: <br><em>Ben Lesh</em></li>
      <li>Locations: <br><em>Silicon Valley</em> & <em>Online</em></li>
      <li>
        {{scroll-to href='#available-workshops' label='Register' class='button'}}
      </li>
    </ul>
  </div>
</header>

{{outlet}}

<footer class="app-footer wrap">
  <div class="contact row">
    {{ember-chimp
        label="Subscribe and stay up to date on the latest RxJS news."
        classNames="subscribe-form main-col"
        formAction="//embersherpa.us12.list-manage.com/subscribe/post?u=81e8e3fa2a6f79fe97467029a&amp;id=3e4c4e8e8f"
        buttonText="Go"
    }}

    <aside class="aside-col email-us">
      Have questions? We're here for you. <br>
      <a mailto="hi@rxworkshop.com">hi@rxworkshop.com</a>
    </aside>
  </div>
  <div class="branding">
    <div class="logo-col row">
      <a href="https://www.thisdot.co" class="this-dot-logo">This Dot Media</a>
      <div class="brand-text">
        Growing the web platform through developer education, shared tooling and facilitating cross-community collaboration.<br>
      </div>
    </div>
  </div>
</footer>
