<header class="app-header">
  <div class="wrap">
    <ul>
      <li><h1 class="logo"><strong>Rx</strong> Workshop</h1></li>
      <li>Instructor: <br><em>Ben Lesh</em></li>
      <li><em>Online</em> <br>Sillicon Valley</li>
      <li><a href="#" class="button">Register</a></li>
    </ul>
  </div>
</header>

<section class="about">
  <div class="wrap row">
    <div class="content-box main-col">
      <h2>Lorem ipsum</h2>
      <p>
        Praesent eu sapien hendrerit, rutrum ex at, ullamcorper risus. Ut dui leo, hendrerit nec gravida sit amet, consectetur et arcu. Donec consequat feugiat ante.
      </p>
      <p>
        Maecenas eu est condimentum, ultrices lacus vitae, pellentesque tortor. Aenean quis augue convallis quam auctor luctus sed sed elit.
      </p>
      <p>
        Quisque placerat ipsum libero, ac rhoncus dui fermentum sed. Sed dapibus diam ante, non vehicula diam ultrices id. Donec sit amet facilisis orci.
      </p>
    </div>
    <aside class="quotes aside-col">
      <blockquote>
        <p>
          Quisque risus est, tincidunt id volutpat ut, egestas id tortor. Proin sit amet lorem nulla.
        </p>
        <footer>
          &mdash; Friederick Nietzsche
        </footer>
      </blockquote>
      <blockquote>
        <p>
          Quisque risus est, tincidunt id volutpat ut, egestas id tortor. Proin sit amet lorem nulla.
        </p>
        <footer>
          &mdash; Friederick Nietzsche
        </footer>
      </blockquote>
    </aside>
  </div>
</section>

<section class="instructor">
  <div class="wrap row">
    <div class="main-col">
      <h2>Your instructor</h2>
      <h3>Ben Lesh</h3>
      <p>
        Praesent eu sapien hendrerit, rutrum ex at, ullamcorper risus. Ut dui leo, hendrerit nec gravida sit amet, consectetur et arcu. Donec consequat feugiat ante.
      </p>
      <p>
        Maecenas eu est condimentum, ultrices lacus vitae, pellentesque tortor. Aenean quis augue convallis quam auctor luctus sed sed elit.
      </p>
    </div>
  </div>
</section>

<section class="workshops">
  <div class="wrap">
    <h2>Available Workshops</h2>

    <div class="workshops-list row">
      <div class="workshop online">
        <h4>Online</h4>
        <dl>
          <dt>When:</dt>
          <dd>January 5th 2017</dd>
          <dt>Cost:</dt>
          <dd>$550</dd>
        </dl>
        <a href="#" class="button">Purchase</a>
      </div>
      <div class="workshop sillicon-valley">
        <h4>Sillicon Valley</h4>
        <dl>
          <dt>When:</dt>
          <dd>January 5th 2017</dd>
          <dt>Cost:</dt>
          <dd>$550</dd>
        </dl>
        <a href="#" class="button">Purchase</a>
      </div>
      <div class="workshop online">
        <h4>Online</h4>
        <dl>
          <dt>When:</dt>
          <dd>January 5th 2017</dd>
          <dt>Cost:</dt>
          <dd>$550</dd>
        </dl>
        <a href="#" class="button">Purchase</a>
      </div>
      <div class="workshop sillicon-valley">
        <h4>Sillicon Valley</h4>
        <dl>
          <dt>When:</dt>
          <dd>January 5th 2017</dd>
          <dt>Cost:</dt>
          <dd>$550</dd>
        </dl>
        <a href="#" class="button">Purchase</a>
      </div>
    </div>
  </div>
</section>

<footer class="app-footer wrap">
  <div class="contact row">
    <form class="subscribe-form main-col">
      <h2>Subscribe for more info</h2>
      <input type="text" name="name" value="" class="input-text">
      <button type="button" name="button" class="button">Go</button>
    </form>
    <aside class="aside-col email-us">
      Email us to request a city <br>
      <a mailto="hi@rxworkshop.com">hi@rxworkshop.com</a>
    </aside>
  </div>
  <div class="branding">
    <div class="logo-col row">
      <a href="https://thisdotmedia.com" class="this-dot-logo">This Dot Media</a>
      <div class="brand-text">
        Nam eu lectus nec nulla malesuada laoreet. Integer sit amet quam ornare, pharetra metus non, accumsan lectus. Aliquam a velit nisi. <br>
        Some Link | Maybe | something else
      </div>
    </div>

  </div>
</footer>
